/* Navbar */

.navbar{
  padding: 0 0 4.5rem 0;
}


.navbar-brand{
  font-family: 'Ubuntu';
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.1rem;
  font-family: 'Montserrat';
}

/* Navbar */

/* Download Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image  */

.title-image{
  width: 60%;
  transform: rotate(15deg);
}


#title {
  background-color : #FF4C68;
  text-align: center;
}

.main-heading {
  color       : white;
  font-family : 'Montserrat',
                sans-serif;
  font-size   : 3rem;
  line-height : 1.2;
  font-weight: bold;
}

body{
  font-family : 'Montserrat', sans-serif;
}

.container-fluid {
  padding : 3% 15%;
}
/* Features Section */

#features{
  padding: 7% 15%;
  text-align: center;
}

.feature-box{
  padding: 5%;
}
.feature-icon{
  color : #ef8172;
}

.feature-icon:hover{
  color : #FF4C68;

}

h3{
  font-family: 'Montserrat';
  font-weight: bold;
  margin-top: 15px;
}

p{
  color: #8f8f8f;
}

/* End of Features Section */

/* Testimonials Section */

#testimonials{
    background-color : #ef8172;
    text-align: center;
    color: white;
}

h2{
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Montserrat';
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

/* End of Testimonials Section */

/* Press section */

#press{
  background-color: #ef8172;
  text-align: center;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Press section ends */

/* pricing section */

#pricing{
text-align: center;
margin: 5% 0;
}

.card-header{
background-color: #ea1637;
color: white;
font-family: 'Montserrat';
}

.pricing-card-title{
  color: #FF4C68;
}

.btn-outline-primary{
color: #FF4C68;
border-color: #FF4C68;
}

.btn-outline-primary:hover{
color: white;
background-color: #ea1637;
border-color: #ea1637;
}

.btn-primary{
background-color: #FF4C68;
border-color: #FF4C68;
}

.btn-primary:hover{
background-color: #ea1637;
border-color: #ea1637
}

.col-lg-4{
  padding: 0;
}

.pricing-column{
  padding:;
}

/* Media Queries */

@media (max-width: 768px){
  .title-image{
    transform: rotate(0);
    /* position: static; */
    width: 100%;
    text-align: center;
  }
}
