table#t1{
	margin-left: auto;
	margin-right: auto; 
	margin-top: 20px;	
	
}

.table{
	border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-spacing: 0px;
    font-size: 15px;
}

.th{	
	padding: 8px 8px;
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
	font-size: 18px;
	font-weight: 625;
	color: black;
	text-align: center;
		
}

.tableNormalRowFormatting{
	text-align: center;
	padding: 6px 6px;
	font-weight: 400;
}

table tr:nth-child(even){
	background-color: #F6F63B;
}

.sh{
	font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 30px;
    color: #24A1E9;
    font-weight: lighter;
    margin-left:-5px;
    margin-bottom: 10px;
}

.ssh{
	color: #0E41B1;
    font-size: 25px;
    font-family: "Caveat", Geneva, Tahoma, sans-serif ;
    margin-bottom: 10px;
    font-weight: lighter;
    margin-left: 15px;	
}

.snote{
    color: red;
    font-size: large;
    margin-left: 0px;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
       
}


.text{
    margin-left: 55px;
    margin-top: 4px;
    margin-bottom: 3px;
    font-family: "Trebuchet MS";
    font-size: 18px;
    font-weight: light;
}

.spacing{
	line-height: 30px;
}

header{
    background-color: #F6F60F;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 130px;
    padding-left: 10px;
    margin-left: -8px;
    margin-top: -8px;

}

.ta{
    background-color: #F9F98F;
    border: 1px solid #F6F63B;
    margin-left: 15px;
    font-family: "Consolas";
    padding-top: 5px;
    font-size: large;
    margin-bottom: 1px;
}

.code{
    margin-bottom: 8px;
    margin-top: 6px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    font-size: 18px; 
    margin-left: 15px;   
       
}